.bg-gradient {
    background-image: linear-gradient(to top, rgba(247, 194, 69, 1), rgba(242, 112, 125, 1));
}

.bg-black {
    background-color: #000;
}

.bg-dark-grey {
    background-color: #222326;
}

div.bg-call {
    background-image: url(../img/hero-burst.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: top -410px center;
    top: 0;
    left: -160px;
    width: 1610px;
    height: 1523px;
}
