.bg-gradient {
    background-image: linear-gradient(to top, rgba(247, 194, 69, 1), rgba(242, 112, 125, 1));
}

.bg-black {
    background-color: #000;
}

.bg-dark-grey {
    background-color: #222326;
}
