

span.icon-instagram {
    background-image: url('../img/icon-instagram.png');
    height: 24px;
    width: 24px;
}

span.icon-facebook {
    background-image: url('../img/icon-facebook.png');
    height: 24px;
    width: 24px;
}

span.icon-twitter {
    background-image: url('../img/icon-twitter.png');
    height: 24px;
    width: 24px;
}