*
{
    font-weight: 600;
    outline: none !important;
    /*font-family: 'Arial', sans-serif;*/
}

html, body {
    overflow-x: hidden;

}

i {
    font-weight: 400;
}

.logo {
    height: 40px;
}

.logo-mobile {
    height: 26.8px;
    position: absolute;
    bottom: 100px;
    left: 0;
    margin-left: 40px;
}

@media(max-width: 991px) {
    .logo {
        height: 26.8px;
        transition: .2s;
    }
}


.pointer {
    cursor: pointer;
}


/* efects */